<?xml version="1.0" encoding="UTF-8"?>

<Context crossContext="true">
	<WatchedResource>WEB-INF/web.xml</WatchedResource>
	
	<Resource name="jdbc/mailmasterDB" auth="Container"
        type="javax.sql.DataSource"
        maxActive="100" maxIdle="30" maxWait="10000"
        username="root"
        password="root"
        driverClassName="com.mysql.jdbc.Driver"
        url="jdbc:mysql://127.0.0.1/mailmaster"/>
   
</Context>